.container.d-flex.flex-column
            .header.d-flex.flex-column.justify-content-between.align-items-center
                nav.topmenu.d-flex.justify-content-center
                    a(href="#about") About
                    .line.align-self-center
                    a(href="#rules") Rules
                    .line.align-self-center
                    a(href="https://discord.gg/red") Join
                .server-info.d-flex.align-items-center.flex-column.text-center
                    h1 Rub1 - Discord Bot
                    a.links-suppressor.join-btn.btn-pill.white(href="https://discord.gg/dJy6PAX") Join Server
                    
            .inner.d-flex.flex-column
                section#about.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                    .image.image1(style="flex-grow: 1")
                    .text
                        h2 About
                        p
                            b Rub1
                            | &nbsp;is a bot created by the author it the same name, he is a Counter-Strike player and in 2017 he started to develop a Bot that play music without ads and without VIP wich "Rythm" does.
                            br
                            br
                            b The default set of modules includes and it's not limited to:
                            br
                        ul
                            li Music features (playlists, youtube, queues... ) 
                            li :)
                section.discord-widget
                    iframe.d-flex(src="https://discordapp.com/widget?id=465949213780475915&theme=dark",
                        allowtransparency="true",
                        frameborder="0")
                    
                section#rules.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap.flex-row-reverse
                    .image.image2(style="flex-grow: 1")
                    .text
                        h2 Rules
                        p
                            b Discord Channel
                            | &nbsp;The discord channel is for everyone the bot Only is here to make people happy it music nothing more FOR NOW...
                            br
                        ul
                            li Don't Spam,
                            li Don't be rude
                            li Any bugs/errors can be submited to me (Admin)
                            li Any type of help will be apritiate.
                            li Wait for your song to be played, if it passes 20min it will be removed.
                            li Don't be racist
                            li Be Happy :)
                            
                section.join.d-flex.justify-content-center
                    .line.align-self-center(style="flex-grow: 1")
                    a.links-suppressor.btn-pill.white(href="https://discord.gg/dJy6PAX") Join Server
                    .line.align-self-center(style="flex-grow: 1")
                            
            .footer.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
                .d-flex
                    .block.d-flex.flex-column.justify-content-between
                        h3.d-flex Staff
                        span Jony_Correia#7033
                        span DownPartsXerif#2217
                        span Seven#0404
                        span Phaze#9093
                    .block.d-flex.flex-column.justify-content-between
                        h3.d-flex Moderators
                        span Rub1#6919
                        span Ł⊕$†...#2110
                        span 💣💥Ⓑ⊕ɱⒷεƦ 💣💥#2906
                    
                p.align-self-end Rub1 is a fully modular bot which comes with sets of features/commands that can be enabled/disabled to your liking, making it customizable exactly how you want. You can only make this bot a music bot but in the future we will put more features on it.