<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Cartas Cotra Jorge</title>
		<link href="https://fonts.googleapis.com/css?family=IM+Fell+English|Playfair+Display:900" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/css/glitch.css" />
	</head>
	<body class="glitchinit loading">
		<main>
			<div class="message">ERROR</div>
			<div class="content content--fixed">
				<header class="codrops-header">
					<h1 class="codrops-header__title">Jorge</h1>
				</header>
			</div>
			<div class="content">
				<div class="glitch">
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
					<div class="glitch__img"></div>
				</div>
				<h1 class="content__title">Cartas Contra Jorge</h1>
			</div>
			<div>
				<form action="/login" method="get">
					<input type="text" name="name" placeholder="Nome do Jogador"/><br>
					<input class="top1" type="submit" value="Começar">
				</form>
			</div>
		</main>
		<script src="/js/imagesloaded.pkgd.min.js"></script>
		<script src="/js/glitch.js"></script>
	</body>
</html>
